---
---

@import "colors";

@font-face {
  font-family: "ApM";
  src: url("/assets/fonts/AMono.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Ap";
  src: url("/assets/fonts/A.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Ap";
  src: url("/assets/fonts/ALight.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Ap";
  src: url("/assets/fonts/ABold.otf");
  font-weight: 700;
}

$font-heading: "Ap";

* {
  font-family: "ApM";
}

h1,
h2,
h3,
strong {
  font-weight: bold;
}

body {
  background-color: $color-white;
  color: $color-black;
}

.project {
  background: linear-gradient(-45deg, $color-blue 10%, $color-cyan 60%);
  color: $color-white;
  display: block;
  width: 300px;
  padding: 10px;
  margin: 10px 0;

  h3 {
    text-transform: lowercase;
    font-size: 48px;
    margin: -10px 0 -5px -15px;
    display: inline-block;
    line-height: 35px;
    letter-spacing: -2px;
  }
}
